* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease-in-out;
}

body {
    margin: 0;
    /* padding-top: 100px; */
    overflow: visible;
    /* transition: transform 2s ease-in-out 0s; */
}

#navbar {
    width: 100vw;
    height: 100px;
    background-color: #fff;
    padding: 0 10px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 2rem 0 #000;
}

#nav-heading {
    width: 50%;
    height: 100%;
    padding: 36px 0 0 20px;
    letter-spacing: 0.1ch;
    /* border: 1px solid; */
}

#nav-links {
    width: 50%;
    height: 100%;
    padding-right: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* background-color: #aaa; */
}

.nav-link {
    width: 33%;
    height: 100%;

    color: #000;
    text-decoration: none;
    font-size: 150%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #fff; */
    /* border: 1px solid black; */
}

#welcome-section {
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;

    background-color: bisque;
    /* background-color: #ddd; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    font-size: 200%;
}

#projects {
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(66, 97, 128);
}

#project-heading,
#contact-heading {
    width: 100%;
    height: 50px;

    /* color: #fff; */
    /* background-color: #ddd; */
    font-size: 250%;
    text-align: center;
}

.project-link{
    text-decoration: none;
}

.project-tile {
    width: 500px;
    height: 300px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem 0 #000;
    background-color: #fff;
    transition: all 0.1s ease-in-out 0s;

}

.project-tile:hover{
    transform: scale(1.01);
    box-shadow: 0 0 2rem 0 #fff;
}

.project-snap {
    width: 400px;
    height: 220px;
    position: relative;
}

.project-title {
    width: 100%;
    height: 5%;

    color: black;
    font-size: 150%;
    text-align: center;
    /* text-decoration: none; */
    /* background-color: white; */
}


#contact-section {
    width: 100%;
    height: 300px;

    background-color: #f1a1a1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profiles {
    width: 70%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: white; */
}

.profile {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.dev-profile-link {
    color: black;
    text-decoration: none;
    font-size: 150%;
    /* color: red; */
    /* border: 1px solid; */
}

.nav-link:hover,
.dev-profile-link:hover {
    font-size: 140%;
}

@media(max-width: 600px) {
    .nav-link {
        font-size: 100%;
    }
}
